<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="scenario-core-unit">
            <directory>tests/unit/</directory>
        </testsuite>

        <testsuite name="scenario-core-integration">
            <directory suffix=".phpt">tests/integration/</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src/</directory>
        </include>

        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
            <file>src/Output/Formatter/Align.php</file>
            <file>src/Output/Theme/BackgroundColor.php</file>
            <file>src/Output/Theme/FontStyle.php</file>
            <file>src/Output/Theme/ForegroundColor.php</file>
            <file>src/PHPUnit/Extension.php</file>
            <file>src/PHPUnit/Emitter.php</file>
            <file>src/PHPUnit/SubscriberLoader.php</file>
            <file>src/Runtime/Registry.php</file>
            <file>src/Runtime/Application/Configuration/Value/ConnectionValue.php</file>
            <file>src/Runtime/Application/Configuration/Value/SuiteValue.php</file>
            <file>src/Runtime/Exception/FailureException.php</file>
            <file>src/Runtime/Exception/HandlerRegistryException.php</file>
            <file>src/Runtime/Exception/XMLParserException.php</file>
            <file>src/Runtime/Metadata/ContextTarget.php</file>
            <file>src/Runtime/Metadata/ExecutionType.php</file>
        </exclude>
    </source>
</phpunit>
